<div id="album" *ngIf="album">
    <div class="album-header">
        <div class="row">
            <div class="col-md-4">
                <img src="{{album.images[0].url}}" alt="{{ album.name }}" class="album-thumb">
            </div>
            <div class="col-md-8">
                <h4 *ngIf="album.artists.length > 0">
                    <span *ngFor="let artists of artist">
                        {{ artist.name }}
                    </span>
                </h4>
                <h2>{{ album.name }}</h2>
                <h5>Release Date: {{ album.release_date }}</h5>
                <a target="_blank" href="{{ album.external_urls.spotify }}">View online</a>
            </div>
        </div>
    </div>

    <div class="album-tracks">
        <h2>Album Tracks</h2>
        <div *ngFor="let track of album.tracks.items">
            {{ track.track_number }} - {{ track.name }}
            <a href="{{ track.preview_url }}" target="_blank">Preview Track</a>
        </div>
    </div>

</div>