<div *ngIf="artist">
    <header>
        <div *ngIf="artist.images.length > 0">
            <img class="artist-thumb img-circle" src="{{ artist.images[0].url }}" alt="{{ artist.name }}" />
        </div>
        <h1>{{ artist.name }}</h1>
        <p *ngIf="artist.genres.length > 0">
            Genres:
            <span *ngFor="let genre of artist.genres; let last = last;">
                {{ genre }}<span *ngIf="!last">,</span>
            </span>
        </p>
    </header>
    
    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col-md-3">
                    <img src="{{ album.images[0].url }}" alt="{{ album.name }}" class="album-thumb img-thumbnail">
                    <h4>{{ album.name }}</h4>
                    <a routerLink="/album/{{album.id}}" class="btn btn-default btn-lock">
                    Album Details
                    </a>
                </div>
                
            </div>
        </div>
    </div>

</div>