<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new releases and find your favourite songs.</p>


<form>
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Artist..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchMusic()" />
    </div>
</form>

<div *ngIf="searchRes">
    <div *ngFor="let artist of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4><a routerLink="/artist/{{artist.id}}">{{ artist.name }}</a></h4>
                    <div *ngIf="artist.genres">
                        <strong>Genres: </strong>
                        <span *ngFor="let genre of artist.genres; let i = index; let last = last">
                            {{ genre }}<span *ngIf="!last">, </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>